@page
@model RecruitCatShigavkp.Pages.ContactUsModel
@{
	ViewData["Title"] = "ContactUs";
}
<style>
	body {
		background-color: paleturquoise
	}

	h4 , p {
		text-align: center
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

</style>

<div class="text-center">
<h1 class="display-4"><strong>Contact Us</strong></h1>
</div>

<h4> Office Adddress</h4>
<img src="./css/Images/Senator.png" alt="Senator.png" style="height: 300px">
<br>

<h4>Email Us</h4>
<p>support@werecruit.com</p>

<h4>Call Us</h4>
<p>Phone: 513-828-1366</p>
<p>Fax: 983-380-4486</p>
