@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
body {
	background-color: paleturquoise;
    font-weight: bold;
}

.card
{
    background-color: lightgray;
}

h4 {
    text-align: center;
}

h5 {
    font-weight: bold;
}

</style>

<div class="text-center">
    <h1 class="display-4"><strong>Welcome to WeRecruit</strong></h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
                <h5 class="card-title">Resume Building</h5>
        <p class="card-text">We build resume as per industry standards.</p>
        <a href="#" class="btn btn-primary">Build</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Apply for Job</h5>
        <p class="card-text">Apply jobs matching your profile.</p>
        <a href="#" class="btn btn-primary">Apply</a>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Schedule Appointment</h5>
                <p class="card-text">Book appointment with our career counsellors.</p>
                <a href="#" class="btn btn-primary">Schedule</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Feedback</h5>
                <p class="card-text">Please provide your valuable feedback.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>

<br>

<h4>Top Recruiting Companies</h4>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.accenture.com/us-en/careers" style="text-decoration: none">Accenture</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.capgemini.com/careers/" style="text-decoration: none">Capgemini</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.pgcareers.com/" style="text-decoration: none">P&G</a>
        </div>
    </div>
</div>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://careers.jio.com/" style="text-decoration: none">Reliance Jio</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.tesla.com/careers" style="text-decoration: none">Tesla</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.apple.com/careers/us/" style="text-decoration: none">Apple</a>
        </div>
    </div>
</div>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://hiring.amazon.com/" style="text-decoration: none">Amazon</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.metacareers.com/" style="text-decoration: none">Meta</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.infosys.com/careers/americas.html" style="text-decoration: none">Infosys</a>
        </div>
    </div>
</div>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://jobs.netflix.com/search" style="text-decoration: none">Netflix</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://jobs.disneycareers.com/" style="text-decoration: none">Disney+</a>
        </div>
        <div class="col-sm" style="background-color: lightgray">
            <a href="https://www.tcs.com/careers" style="text-decoration: none">TCS</a>
        </div>
    </div>
</div>
