@page
@model RecruitCatShigavkp.Pages.OurTeamModel
@{
	ViewData["Title"] = "Our Team";
}

<style>

body {
	background-color: paleturquoise
}
h1 {
	text-align: center;
}

</style>

<h1>Our Team</h1>
<div class="row">
<div class="col">
<div class="card" style="width: 22rem;">
<img class="card-img-top" src="~/css/Images/Omkar.jpg" alt="Omkar Kadam.jpg" style="width: 22rem">
 <div class="card-body">
<p><strong>Omkar Kadam (Finance & Operations Head)</strong></p>
				<p class="card-text" style="text-align: left">
				Omkar is a Chartered Accountant who has worked with different financial institutions and was also
				the first investor of WeRecruit. He decided to support this initiative & played
				a major role to get investment support in the early stage of WeRecruit. His expertise
				lies in building & sustaining WeRecruit financially.
				</p>
 </div>
 </div>

</div>

<div class="col">
		<div class="card" style="width: 22rem">
			<img class="card-img-top" src="~/css/Images/Krunal.jpg" alt="Krunal Shigavan.jpg" style="width: 22rem">
	         <div class="card-body">
				<p><strong>Krunal Shigavan (CEO)</strong></p>
				<p class="card-text" style="text-align: left">
				WeRecruit was the brain-child of Krunal. 
				With work experience of more than 10 years as a Product Manager, 
				he developed this idea of starting WeRecruit to make job search 
				& profile upgradation easier for people.</p>
	</div>
</div>
</div>

	<div class="col">
<div class="card" style="width: 22rem;">
			<img class="card-img-top" src="~/css/Images/Arun.jpeg" alt="Arunkumar Dubey.jpg" style="width: 22rem">
	<div class="card-body">
				<p><strong>Arunkumar Dubey (CTO)</strong></p>
				<p class="card-text" style="text-align: left">
				Arun is the technical back-bone of WeRecruit. His expertise in building complex & huge projects
				for various IT Industries helped WeRecruit to build a user-friendly web application within short
				span of time.
				</p>

	</div>
</div>
</div>
</div>





