@page
@model RecruitCatShigavkp.Pages.TestimonialsModel
@{
	ViewData["Title"] = "Testimonials";
}
<style>
	body {
		background-color: paleturquoise
	}

    .card {
        background-color: lightgray
    }


</style>



<div class="text-center">
<h1 class="display-4"><strong>Testimonials</strong></h1>
</div>

<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>WeRecruit offers free LinkedIn profile upgrade once you sign-up for their resume building services.
          Their resume building techniques are in-line with current industry standards. I received a good amount
          of call backs after I updated my resume as per their suggestions.
      </p>
            <footer class="blockquote-footer" style="text-align: right"><strong>Maithili Shigavan</strong></footer>
    </blockquote>
  </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>WeRecruit has helped me apply for range of jobs across USA. They suggest options
                based on your profile which makes job search an easy task.
            </p>
            <footer class="blockquote-footer" style="text-align: right"><strong>Mukund Shah</strong></footer>
        </blockquote>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>The counsellors of WeRecruit are very supportive & spends quality time with us to understand
                our job needs. They even help us prepare of interviews & assessment tests of different companies.
            </p>
            <footer class="blockquote-footer" style="text-align: right"><strong>Tanmay Bhatt</strong></footer>
        </blockquote>
    </div>
</div>




  

 