@page
@model RecruitCatShigavkp.Pages.Candidates.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Candidate Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Candidate.candidateId" />
            <div class="form-group">
                <label asp-for="Candidate.candidateFname" class="control-label"></label>
                <input asp-for="Candidate.candidateFname" class="form-control" />
                <span asp-validation-for="Candidate.candidateFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.candidateLname" class="control-label"></label>
                <input asp-for="Candidate.candidateLname" class="form-control" />
                <span asp-validation-for="Candidate.candidateLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.targetSalary" class="control-label"></label>
                <input asp-for="Candidate.targetSalary" class="form-control" />
                <span asp-validation-for="Candidate.targetSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.startDate" class="control-label"></label>
                <input asp-for="Candidate.startDate" class="form-control" />
                <span asp-validation-for="Candidate.startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.emailId" class="control-label"></label>
                <input asp-for="Candidate.emailId" class="form-control" />
                <span asp-validation-for="Candidate.emailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.mobileNumber" class="control-label"></label>
                <input asp-for="Candidate.mobileNumber" class="form-control" />
                <span asp-validation-for="Candidate.mobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.companyId" class="control-label"></label>
                <select asp-for="Candidate.companyId" class="form-control" asp-items="ViewBag.companyId"></select>
                <span asp-validation-for="Candidate.companyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.jobtitleId" class="control-label"></label>
                <select asp-for="Candidate.jobtitleId" class="form-control" asp-items="ViewBag.jobtitleId"></select>
                <span asp-validation-for="Candidate.jobtitleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.industryId" class="control-label"></label>
                <select asp-for="Candidate.industryId" class="form-control" asp-items="ViewBag.industryId"></select>
                <span asp-validation-for="Candidate.industryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
