@page
@model RecruitCatShigavkp.Pages.Industrys.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Indstry</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Industry.industryName" class="control-label"></label>
                <input asp-for="Industry.industryName" class="form-control" />
                <span asp-validation-for="Industry.industryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.industryType" class="control-label"></label>
                <input asp-for="Industry.industryType" class="form-control" />
                <span asp-validation-for="Industry.industryType" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
